<div class='container'>
  <h1 class='pri-font orange-text'>Shawn</h1>
  <div class='d-flex flex-row column-gap-3'>
    <div class='water-border w-100 h-100'>
      <%= image_tag "profilepic.jpeg", alt: "Profile Picture of Shawn Lim", class: "img-fluid" %>
    </div>
    <div class="ms-5 text-center">
      <h1 class='pri-font orange-text fs-1'>Hello I'm Shawn Lim</h1>
      <p class='white-text sec-font'>Passionate about technology and aspiring to become a full-stack web developer,
      I have a strong marketing background and hands-on experience managing social media platforms and
      online marketing tools. With a focus on transitioning into a junior developer role, I am a quick learner,
      adaptable, and always eager to tackle new challenges. </p>
    </div>
  </div>
  <div class='w-100 orange mt-5 rounded-3 pb-5'>
    <h1 class='text-center pt-3 pri-font white-text display-3'>Tech Skills</h1>

    <div class="grid">
      <div class='px-3'>
        <div class='d-flex flex-row column-gap-2 align-items-center'>
          <i class="fa-solid fa-arrows-to-dot fa-lg white-text"></i>
          <p class='mb-0 sec-font white-text-bold fontsize-tech'>Ruby</p>
        </div>
        <div class='d-flex flex-row column-gap-2 align-items-center'>
          <i class="fa-solid fa-arrows-to-dot fa-lg white-text"></i>
          <p class='mb-0 sec-font white-text-bold fontsize-tech'>Ruby on Rails</p>
        </div>
        <div class='d-flex flex-row column-gap-2 align-items-center'>
          <i class="fa-solid fa-arrows-to-dot fa-lg white-text"></i>
          <p class='mb-0 sec-font white-text-bold fontsize-tech'>HTML/CSS</p>
        </div>
        <div class='d-flex flex-row column-gap-2 align-items-center'>
          <i class="fa-solid fa-arrows-to-dot fa-lg white-text"></i>
          <p class='mb-0 sec-font white-text-bold fontsize-tech'>Javascript</p>
        </div>
      </div>

      <div class='px-3'>
        <div class='d-flex flex-row column-gap-2 align-items-center'>
          <i class="fa-solid fa-arrows-to-dot fa-lg white-text"></i>
          <p class='mb-0 sec-font white-text-bold fontsize-tech'>Bootstrap</p>
        </div>
        <div class='d-flex flex-row column-gap-2 align-items-center'>
          <i class="fa-solid fa-arrows-to-dot fa-lg white-text"></i>
          <p class='mb-0 sec-font white-text-bold fontsize-tech'>PostgreSQL</p>
        </div>
        <div class='d-flex flex-row column-gap-2 align-items-center'>
          <i class="fa-solid fa-arrows-to-dot fa-lg white-text"></i>
          <p class='mb-0 sec-font white-text-bold fontsize-tech'>SQL</p>
        </div>
        <div class='d-flex flex-row column-gap-2 align-items-center'>
          <i class="fa-solid fa-arrows-to-dot fa-lg white-text"></i>
          <p class='mb-0 sec-font white-text-bold fontsize-tech'>Stimulus JS</p>
        </div>
      </div>

      <div class='px-3'>
        <div class='d-flex flex-row column-gap-2 align-items-center'>
          <i class="fa-solid fa-arrows-to-dot fa-lg white-text"></i>
          <p class='mb-0 sec-font white-text-bold fontsize-tech'>Ajax</p>
        </div>
        <div class='d-flex flex-row column-gap-2 align-items-center'>
          <i class="fa-solid fa-arrows-to-dot fa-lg white-text"></i>
          <p class='mb-0 sec-font white-text-bold fontsize-tech'>Git</p>
        </div>
        <div class='d-flex flex-row column-gap-2 align-items-center'>
          <i class="fa-solid fa-arrows-to-dot fa-lg white-text"></i>
          <p class='mb-0 sec-font white-text-bold fontsize-tech'>Terminal</p>
        </div>
        <div class='d-flex flex-row column-gap-2 align-items-center'>
          <i class="fa-solid fa-arrows-to-dot fa-lg white-text"></i>
          <p class='mb-0 sec-font white-text-bold fontsize-tech'>Heroku</p>
        </div>
      </div>

      <div class='px-3'>
        <div class='d-flex flex-row column-gap-2 align-items-center'>
          <i class="fa-solid fa-arrows-to-dot fa-lg white-text"></i>
          <p class='mb-0 sec-font white-text-bold fontsize-tech'>Cloudinary</p>
        </div>
        <div class='d-flex flex-row column-gap-2 align-items-center'>
          <i class="fa-solid fa-arrows-to-dot fa-lg white-text"></i>
          <p class='mb-0 sec-font white-text-bold fontsize-tech'>Mapbox</p>
        </div>
        <div class='d-flex flex-row column-gap-2 align-items-center'>
          <i class="fa-solid fa-arrows-to-dot fa-lg white-text"></i>
          <p class='mb-0 sec-font white-text-bold fontsize-tech'>Devise</p>
        </div>
        <div class='d-flex flex-row column-gap-2 align-items-center'>
          <i class="fa-solid fa-arrows-to-dot fa-lg white-text"></i>
          <p class='mb-0 sec-font white-text-bold fontsize-tech'>Figma</p>
        </div>
      </div>

    </div>
  </div>
</div>
